@font-face {
  font-family: 'Poppins';
  src: url('font/Poppins-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Poppins';
  src: url('font/Poppins-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Poppins';
  src: url('font/Poppins-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Poppins';
  src: url('font/Poppins-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Poppins';
  src: url('font/Poppins-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}
:root {
  --bg-color: #080808;
  --second-bg-color: #101010;
  --text-color: white;
  --main-color: #ea580c;
  --scrollbar-thumb-color: #ea5a0c8a;
}
html {
  font-size: 60%;
  overflow-x: hidden;
  width: 100%;
}
body {
  background-color: var(--bg-color);
  color: var(--text-color);
  width: 100%;
}
header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  padding: 3.3rem 15%;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100vw !important;
  z-index: 1000;
}
.menu-icon {
  height: 3.5rem;
  width: 3.5rem;
  color: var(--main-color);
  display: none;
}
.logo {
  font-size: 3rem;
  color: var(--text-color);
  font-weight: 800;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

span {
  background: linear-gradient(270deg, #df8908 10%, #ff1d15 100%);
  font-weight: 800;
  background-clip: text;
  color: transparent;
}
.navbar a {
  font-size: 1.8rem;
  color: var(--text-color);
  margin-left: 4rem;
  font-weight: 500;
  transition: 0.3s ease-in-out;
  border-bottom: 3px solid transparent;
}

.gradient-btn {
  font-size: 1.8rem;
  padding: 1rem 2rem;
  border-radius: 3rem;
  background: linear-gradient(270deg, #df8908 10%, #ff1d15 100%);
  letter-spacing: 1px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  color: var(--text-color);
  border: none;
  text-wrap: nowrap;
  font-weight: 600;
  transition: 0.3s ease-in-out;
}

section {
  min-height: 100vh;
  padding: 18rem 15%;
}
.home {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15rem;
}
.home-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 1.5rem;
}
.home-content h1 {
  font-size: 7.5rem;
  font-weight: 700;
  margin-top: -25px;
}
.home-content h3 {
  margin: 0 0 1.5rem 0;
  font-size: 4rem;
}
.home-content p {
  font-size: 1.76rem;
  line-height: 1.6;
}
.home-img {
  margin-top: 1.4rem;
}
.home-img img {
  border-radius: 50%;
  box-shadow: 0 0 25px rgb(36, 56, 91);
  transition: 0.4s ease-in-out;
  width: 36vw;
}
.social-icons a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  padding: 1rem;
  background: transparent;
  border: 2px solid var(--main-color);
  border-radius: 50%;
  color: var(--main-color);
  margin: 3rem 0.7rem;
  transition: 0.3s ease-in-out;
}
.icon {
  width: 1em;
  height: 1em;
}
.instagram-i-scale {
  scale: 1.38;
}
.linkedin-i-scale {
  scale: 1.3;
}
.github-i-scale {
  scale: 1.2;
}
.btn-group {
  display: flex;
  gap: 3rem;
}
.btn {
  display: inline-block;
  padding: 1rem 3rem;
  background-color: var(--main-color);
  box-shadow: 0 0 25px var(--main-color);
  border-radius: 3rem;
  font-size: 1.8rem;
  color: black;
  border: solid 2px transparent;
  font-weight: 600;
  transition: 0.3s ease-in-out;
}

.btn-group a:nth-of-type(2) {
  background-color: black;
  color: var(--main-color);
  border: 2px solid var(--main-color);
  box-shadow: 0 0 25px transparent;
}

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10rem;
  background: var(--second-bg-color);
}
.about-img img {
  border-radius: 50%;
  box-shadow: 0 0 25px rgb(36, 56, 91);
  transition: 0.4s ease-in-out;
  width: 36vw;
}

.about-content h2 {
  font-size: 7rem;
}
.about-content p {
  font-size: 1.76rem;
  line-height: 1.6;
  padding-bottom: 30px;
}
.about-content {
  display: flex;
  flex-direction: column;
}
.blue {
  color: rgb(88, 222, 243);
  font-weight: 400;
}
::-webkit-scrollbar {
  width: 13px;
}
::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb-color);
  border-radius: 6.5px;
}

::-webkit-scrollbar-track {
  background-color: var(--bg-color);
}
.heading {
  text-align: center;
  font-size: 7rem;
  padding-bottom: 0rem;
  transition: 0.3s ease-in-out;
  font-weight: 600;
}
.services {
  background-color: var(--bg-color);
  color: black;
  padding-top: 11rem;
}
.services h2 {
  color: white;
}
.services-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  align-items: center;
  gap: 2rem;
  margin-top: 7vh;
  max-height: 100%;
}
.service-box {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main-color);
  min-height: fit-content;
  height: 550px;
  border-radius: 3rem;
  cursor: pointer;
  border: 5px solid transparent;
  transition: 0.3s ease-in-out;
}

.service-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 5rem;
}
.service-info h4 {
  font-size: 4rem;
  font-weight: 600;
  margin: 2rem 0;
}
.service-info p {
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.7;
}
.service-info svg {
  min-height: 58px;
  height: 8rem;
  width: 8rem;
}
.projects {
  background-color: var(--second-bg-color);
}
.projects-box {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  place-items: center;
  gap: 3rem;
  row-gap: 5rem;
  margin-top: 7vh;
}
.project-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: var(--bg-color);
  border: 2px solid var(--main-color);
  border-radius: 3rem;
  gap: 2rem;
  padding: 5rem 2rem;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 0 0 5px var(--main-color);
  transition: 0.3s ease;
  min-height: max-content;
}

.project-card img {
  max-width: 300px;
  border-radius: 2em;
  object-fit: cover;
  margin-top: 20px;
}
.project-card h3 {
  font-size: 3rem;
}
.project-card p {
  font-size: 1.6rem;
  margin-bottom: 13px;
}
.project-card button {
  margin-bottom: 20px;
}
.contact {
  background-color: var(--bg-color);
  padding: 12rem 15%;
}
.contact h2 {
  margin-bottom: 3rem;
  color: var(--text-color);
}
.contact form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  margin: 5rem 0;
  text-align: center;
}
.contact form .input-box input,
.contact form textarea {
  width: 100%;
  padding: 2.5rem;
  font-size: 1.8rem;
  color: var(--text-color);
  background-color: var(--bg-color);
  border-radius: 2rem;
  border: solid 2px var(--main-color);
  margin: 1.5rem 0;
  resize: none;
  box-shadow: -4px 5px 12px 0px rgba(234, 88, 12, 0.38);
  -webkit-box-shadow: -4px 5px 12px 0px rgba(234, 88, 12, 0.38);
  -moz-box-shadow: -4px 5px 12px 0px rgba(234, 88, 12, 0.38);
  transition: 0.3s ease-in-out;
}
.contact form .input-box input:focus,
.contact form textarea:focus {
  box-shadow: -8px 7px 15px 4px rgba(234, 88, 12, 0.38);
  -webkit-box-shadow: -8px 7px 15px 4px rgba(234, 88, 12, 0.38);
  -moz-box-shadow: -8px 7px 15px 4px rgba(234, 88, 12, 0.38);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px var(--bg-color) inset !important;
  -webkit-text-fill-color: #ffffff !important;
}
input:-moz-autofill {
  box-shadow: 0 0 0px 1000px var(--bg-color) inset !important;
  -moz-text-fill-color: #ffffff !important;
}
textarea {
  margin-bottom: 5vh !important;
}
.send-btn {
  font-weight: 600;
}

.footer {
  background-color: var(--second-bg-color);
  padding: 50px 0;
}
.footer .social-icons {
  text-align: center;
}
.footer ul {
  text-align: center;
  font-size: 1.8rem;
}
.footer ul li {
  display: inline-block;
  margin-left: 20px;
}
.footer ul li a {
  color: var(--text-color);
  border-bottom: solid 3px transparent;
  transition: 0.3s ease-in-out;
}

.footer .copyright {
  text-align: center;
  margin-top: 40px;
  font-size: 1.6rem;
}
@media (max-height: 810px) {
  .home-content {
    margin-top: -50px;
  }
  .home-img {
    margin-top: -50px;
  }
  .projects h2 {
    margin-top: -63px;
  }
}
@media (orientation: portrait) {
  .about-content p,
  .about-content button {
    font-size: 2rem;
  }
}
@media (max-height: 1230px) and (orientation: portrait) {
  .home-img img {
    margin-top: -100px;
  }
  .home-content {
    margin-top: -30px;
  }
  .about-img img {
    margin-top: -40px;
  }
}
@media (max-height: 1150px) and (orientation: portrait) {
  .home {
    flex-direction: column;
  }
  .home-img img {
    max-width: 40vw;
  }
  .home-content h1 {
    font-size: 6rem;
  }
  .home-content h3 {
    font-size: 3.7rem;
  }
  .about-content {
    margin-top: -123px;
  }
  .about-img img {
    margin-top: -50px;
  }
  .form textarea {
    margin-top: -10px !important;
  }
  .form .gradient-btn {
    margin-top: -20px !important;
  }
}
@media (max-width: 885px) {
  .service-box {
    width: 60vw;
  }
  .services-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .service-box p {
    font-size: 2rem !important;
  }
  .service-box h4 {
    padding-bottom: 12px;
    margin-bottom: 12px;
  }
}
@media (max-width: 1250px) {
  .btn {
    font-size: 2.1rem;
  }
  .gradient-btn {
    font-size: 2.1rem;
  }
  .menu-icon {
    display: block;
  }
  .navbar {
    position: absolute;
    top: 100%;
    right: 0;
    width: 50%;
    padding: 1rem 3rem;
    background: rgba(0, 0, 0, 0.8);
    border-bottom-left-radius: 2rem;
    border-left: solid 2px var(--main-color);
    border-bottom: solid 2px var(--main-color);
    display: none;
    transition: 0.1s ease;
  }
  .navbar a {
    display: block;
    font-size: 2rem;
    margin: 3rem 0;
    color: var(--text-color);
    max-width: min-content;
  }
  .active {
    display: block;
  }
  .no-display {
    display: none;
  }
  .home {
    flex-direction: column-reverse;
    padding: 8rem 0;
    gap: 5rem;
  }
  .home-content {
    align-items: center;
    text-align: center;
  }
  .home-content p {
    padding: 0 5vw;
  }
  .home-img img {
    width: 56vw;
  }
  .about {
    flex-direction: column-reverse;
    text-align: center;
  }
  .about h2 {
    text-align: center;
    margin: 2rem 0;
  }
  .about-img img {
    width: 52vw;
  }
  .about .btn {
    width: 180px;
  }
  .about-content {
    align-items: center;
  }
  .service-box p {
    font-size: 1.7rem;
  }
  .project-card p {
    font-size: 2rem;
  }
  .project-card h3 {
    font-size: 4rem;
  }
  .contact form {
    flex-direction: column;
  }
}
@media (max-width: 480px) {
  header {
    height: 9vh;
    padding: 0 5%;
  }
  header .logo {
    font-size: 2rem;
  }
  section {
    padding: 18rem 5%;
    max-width: 100vw !important;
  }
  .home {
    padding-top: 9vh;
    margin: 0;
    padding: 0 5%;
    height: fit-content;
    padding-bottom: 0;
    justify-content: center;
  }
  .home-content h1 {
    font-size: 4rem;
    padding-bottom: 10px;
    margin-top: -23px;
  }
  .home-content h3 {
    font-size: 2.5rem;
  }
  .home-content a {
    font-size: 1.5rem;
    width: 40vw;
  }
  .home-img {
    margin-top: 124px;
  }
  .social-icons a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    padding: 1rem;
    background: transparent;
    border: 2px solid var(--main-color);
    border-radius: 50%;
    color: var(--main-color);
    margin: 3rem 0.7rem;
    width: auto;
  }
  .about {
    height: fit-content;
    padding-bottom: 0;
  }
  .about-content h2 {
    font-size: 5.5rem;
  }
  .about-content p {
    font-size: 1.7rem;
  }
  .about-img {
    margin-top: 30px;
    padding-bottom: 50px;
  }
  .about-img img {
    width: 70vw;
  }
  .services {
    height: fit-content;
    padding: 10rem 5%;
  }
  .service h2 {
    font-size: 5.5rem;
  }
  .service-box {
    width: 78vw;
    height: fit-content;
  }
  .service-box svg {
    height: 9rem;
    width: 9rem;
  }
  .service-box h4 {
    font-size: 3.6rem;
  }
  .service-info {
    padding-left: 0;
    padding-right: 0;
  }
  .service-box p {
    font-size: 1rem;
    font-weight: 500;
    width: 90%;
    height: fit-content;
  }
  .service-box {
    width: 100%;
  }
  .projects {
    padding: 14vh 5%;
  }
  .projects h2 {
    font-size: 5.3rem;
    margin-top: 10px;
  }
  .project-card {
    max-width: 90vw !important;
  }
  .project-card p {
    font-size: 1.7rem;
  }
  .project-card button {
    font-size: 1.8rem;
    margin: 0;
  }
  .projects-box {
    display: grid;
    justify-content: center !important;
  }
  .project-card img {
    width: 100%;
  }
  .contact {
    padding: 12rem 5%;
  }
  .contact h2 {
    font-size: 5.7rem;
  }
  .contact form {
    margin: 0 !important;
  }
  .contact input {
    height: 8vh;
  }
  .form .gradient-btn {
    font-size: 1.5rem;
    height: 40px;
    padding: 0;
    min-width: 133px;
    width: 45vw;
    font-weight: 500;
    margin-top: 0 !important;
  }
  .input-group2 textarea {
    height: 200px;
  }
  footer ul {
    display: flex;
    justify-content: space-around;
    padding: 0 5vw;
  }
  footer ul li {
    font-size: 1.5rem;
    margin: 0 !important;
  }
  footer .copyright {
    font-size: 1.2rem;
  }
}
@media (max-width: 380px) {
  .social-icons a {
    font-size: 2.3rem;
    padding: 0.65rem;
  }
  .home-content p {
    font-size: 1.4rem;
  }
  .home-content .btn-group a {
    font-size: 1.2rem;
  }
  .about-content h2 {
    font-size: 4rem;
  }
  .about-content p {
    font-size: 1.5rem;
  }
  .about-content button {
    font-size: 1.5rem;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 35px;
  }
  .services h2 {
    font-size: 4rem;
  }
  .service-box .service-info h4 {
    font-size: 2.7rem;
  }
  .service-box .service-info svg {
    height: 5rem;
    width: 5rem;
  }
  .service-box .service-info p {
    font-size: 1.5rem !important;
  }
  .projects h2 {
    font-size: 4rem;
  }
  .project-card h3 {
    font-size: 2.7rem;
  }
  .project-card p {
    font-size: 1.5rem !important;
  }
  .project-card button {
    font-size: 1.5rem;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 35px;
    min-width: 40vw;
  }
  .contact h2 {
    font-size: 4rem;
  }
}
@media (max-height: 730px) and (orientation: portrait) {
  .home-img img {
    margin-top: -100px;
  }
}
@media (max-height: 665px) and (orientation: portrait) {
  .home-img img {
    margin-top: -170px;
  }
  .home-content h1 {
    font-size: 3rem;
  }
  .home-content h3 {
    font-size: 2.3rem;
  }
  .home-content p {
    font-size: 1.3rem;
  }
}
@media (max-height: 590px) {
  .home {
    justify-content: flex-end;
    padding-top: 9vh;
  }
}
@media (max-width: 330px) {
  .footer ul li {
    font-size: 1.4rem;
    margin-left: 10px !important;
  }
  footer ul li .no-margin {
    margin: 0;
  }
  .footer ul {
    flex-wrap: wrap;
    line-height: 2.3;
  }
  footer .copyright {
    font-size: 1.3rem;
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media (max-width: 1250px) and (orientation: portrait) {
  .menu-icon {
    width: 7vw;
    height: 7vw;
    max-height: 42px;
  }
}
@media (hover: none) {
  * {
    -webkit-tap-highlight-color: transparent !important;
  }
  .logo:active {
    transform: scale(1.1);
    -webkit-tap-highlight-color: transparent;
  }
  .navbar a:active {
    border-bottom: 3px solid var(--main-color);
    color: var(--main-color);
    -webkit-tap-highlight-color: transparent;
  }
}
@media (hover: hover) {
  .logo:hover {
    transform: scale(1.1);
  }
  .navbar a:hover {
    border-bottom: 3px solid var(--main-color);
    color: var(--main-color);
  }
  .gradient-btn:hover {
    scale: 1.05;
    box-shadow: 0 0 10px rgb(235, 95, 13), 0 0 13px rgb(235, 95, 13),
      0 0 16px rgb(235, 95, 13);
  }
  .home-img img:hover {
    box-shadow: 0 0 25px rgb(36, 56, 91), 0 0 50px rgb(36, 56, 91),
      0 0 80px rgb(36, 56, 91);
  }
  .social-icons a:hover {
    color: var(--text-color);
    background-color: var(--main-color);
    transform: scale(1.2) translateY(-5px);
    box-shadow: 0 0 20px var(--main-color);
  }
  .btn:hover {
    transform: scale(1.05);
    box-shadow: 0 0 25px var(--main-color), 0 0 44px var(--main-color);
  }
  .btn-group a:nth-of-type(2):hover {
    color: black;
    box-shadow: 0 0 25px var(--main-color);
    background-color: var(--main-color);
  }
  .about-img img:hover {
    box-shadow: 0 0 25px rgb(36, 56, 91), 0 0 50px rgb(36, 56, 91),
      0 0 80px rgb(36, 56, 91);
  }
  ::-webkit-scrollbar-thumb:hover {
    background-color: var(--main-color);
  }
  .service-box:hover {
    background-color: var(--second-bg-color);
    border: 5px solid var(--main-color);
    color: var(--main-color);
    transform: scale(1.03);
  }
  .project-card:hover {
    box-shadow: 0 0 25px var(--main-color), 0 0 50px var(--main-color);
    transform: scale(1.02);
  }
  .contact form .input-box input:hover,
  .contact form textarea:hover {
    box-shadow: -8px 7px 15px 4px rgba(234, 88, 12, 0.38);
    -webkit-box-shadow: -8px 7px 15px 4px rgba(234, 88, 12, 0.38);
    -moz-box-shadow: -8px 7px 15px 4px rgba(234, 88, 12, 0.38);
  }
  .send-btn:hover {
    font-weight: 600 !important;
  }
  .footer ul li a:hover {
    border-bottom: solid 3px var(--main-color);
    color: var(--main-color);
  }
}
