@font-face {
  font-family: "Poppins";
  src: url("Poppins-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("Poppins-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("Poppins-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("Poppins-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("Poppins-ExraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}
:root {
  --bg-color: #080808;
  --second-bg-color: #101010;
  --text-color: white;
  --main-color: #ea580c;
}
html {
  font-size: 60%;
  overflow-x: hidden;
}
body {
  background-color: var(--bg-color);
  color: var(--text-color);
}
header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  padding: 3.3rem 15%;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}
#menu-icon {
  font-size: 3.5rem;
  color: var(--main-color);
  display: none;
}
.logo {
  font-size: 3rem;
  color: var(--text-color);
  font-weight: 800;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.logo:hover {
  transform: scale(1.1);
}
span {
  background: linear-gradient(270deg, #df8908 10%, #ff1d15 100%);
  font-weight: 800;
  background-clip: text;
  color: transparent;
}
.navbar a {
  font-size: 1.8rem;
  color: var(--text-color);
  margin-left: 4rem;
  font-weight: 500;
  transition: 0.3s ease-in-out;
  border-bottom: 3px solid transparent;
}
.navbar a:hover {
  border-bottom: 3px solid var(--main-color);
  color: var(--main-color);
}
.gradient-btn {
  font-size: 1.8rem;
  padding: 1rem 2rem;
  border-radius: 3rem;
  background: linear-gradient(270deg, #df8908 10%, #ff1d15 100%);
  letter-spacing: 1px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  color: var(--text-color);
  border: none;
  text-wrap: nowrap;
  font-weight: 600;
  transition: 0.3s ease-in-out;
}
.gradient-btn:hover {
  scale: 1.05;
  box-shadow: 0 0 10px rgb(235, 95, 13), 0 0 13px rgb(235, 95, 13),
    0 0 16px rgb(235, 95, 13);
}
section {
  height: 100vh;
  padding: 18rem 15%;
}
.home {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15rem;
}
.home-content {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-top: 1.5rem;
}
.home-content h1 {
  font-size: 8rem;
  font-weight: 700;
  margin-top: 1.8rem;
}
.home-content h3 {
  margin: 1.5rem 0;
  font-size: 4rem;
}
.home-content p {
  font-size: 1.76rem;
  line-height: 1.8;
}
.home-img {
  margin-top: 1.4rem;
}
.home-img img {
  border-radius: 50%;
  box-shadow: 0 0 25px rgb(36, 56, 91);
  transition: 0.4s ease-in-out;
  width: 36vw;
}
.home-img img:hover {
  box-shadow: 0 0 25px rgb(36, 56, 91), 0 0 50px rgb(36, 56, 91),
    0 0 80px rgb(36, 56, 91);
}
.social-icons a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  padding: 1rem;
  background: transparent;
  border: 2px solid var(--main-color);
  border-radius: 50%;
  color: var(--main-color);
  margin: 3rem 0.7rem;
  transition: 0.3s ease-in-out;
}
.social-icons a:hover {
  color: var(--text-color);
  background-color: var(--main-color);
  transform: scale(1.2) translateY(-5px);
  box-shadow: 0 0 20px var(--main-color);
}
.btn-group {
  display: flex;
  gap: 3rem;
}
.btn {
  display: inline-block;
  padding: 1rem 3rem;
  background-color: var(--main-color);
  box-shadow: 0 0 25px var(--main-color);
  border-radius: 3rem;
  font-size: 1.8rem;
  color: black;
  border: solid 2px transparent;
  font-weight: 600;
  transition: 0.3s ease-in-out;
}
.btn:hover {
  transform: scale(1.05);
  box-shadow: 0 0 25px var(--main-color), 0 0 44px var(--main-color);
}
.btn-group a:nth-of-type(2) {
  background-color: black;
  color: var(--main-color);
  border: 2px solid var(--main-color);
  box-shadow: 0 0 25px transparent;
}
.btn-group a:nth-of-type(2):hover {
  color: black;
  box-shadow: 0 0 25px var(--main-color);
  background-color: var(--main-color);
}
.about {
  display: flex;
  justify-content: center;
  align-items: ceneter;
  gap: 10rem;
  background: var(--second-bg-color);
}
.about-img img {
  border-radius: 50%;
  box-shadow: 0 0 25px rgb(36, 56, 91);
  transition: 0.4s ease-in-out;
  width: 36vw;
}
.about-img img:hover {
  box-shadow: 0 0 25px rgb(36, 56, 91), 0 0 50px rgb(36, 56, 91),
    0 0 80px rgb(36, 56, 91);
}
.about-content h2 {
  font-size: 7rem;
}
.about-content p {
  font-size: 1.76rem;
  line-height: 1.6;
  padding-bottom: 30px;
}
.about-content {
  display: flex;
  flex-direction: column;
}
